<app-header></app-header>

<main>
    <section class="main-section pad-40">
        <div class="headline">
            <h1>
                BUSINESS<br>
                <span class="highlight">ACCOUNTING</span> <br>
                SERVICE
            </h1>
            <p>
                We offer comprehensive accounting solutions to businesses,<br/>
                helping them streamline and manage their finances effectively.
            </p>
            <div class="buttons">
                <a class="btn learn-more" href="#">
                    <span class="icon">➤</span> Learn More
                </a>
                <a class="btn join-now" href="#">
                    Join Now
                </a>
            </div>
        </div>
        <img ngSrc="/assets/illustration_business_accounting.png" width="669" height="536">
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% OF<br/>
                COMPANIES<br/>
            </h2>
        </div>
        <p class="benefit-text">
            don’t know how to handle <b>scaling</b> accounting processes, reports, and managing financial transactions.
        </p>
    </section>

    <section class="cta-section mb-60">
        <btn-primary btn-text="Speak with Our Specialists"></btn-primary>
    </section>

    <newsletter-form></newsletter-form>

    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Highly Skilled & Qualified Team"
            img-path="/assets/team.png"
            card-description="Our experienced team is ready to support your accounting needs with precision and professionalism, ensuring reliable and tailored solutions for your business."
        ></benefit-card>
        <benefit-card
            card-title="Projects guided from scratch"
            img-path="/assets/project-guide.png"
            card-description="We offer full support in building your custom accounting solutions, with efficient processes, strategic vision, and measurable, sustainable, and scalable results."
        ></benefit-card>
    </section>

    <section class="cta-section pad-70">
        <h2>Ready to take your business accounting to the next level?</h2>
        <btn-primary btn-text="Speak with Our Specialists"></btn-primary>
    </section>

    <app-footer></app-footer>
</main>